@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');
/* bar code */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Libre+Barcode+39+Extended+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');
/* owsom */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Libre+Barcode+39+Extended+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&family=WindSong:wght@400;500&display=swap');
/* pera */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bowlby+One+SC&family=Libre+Barcode+39+Extended+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&family=WindSong:wght@400;500&display=swap');
/* extra bold */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bowlby+One+SC&family=Climate+Crisis&family=Libre+Barcode+39+Extended+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&family=WindSong:wght@400;500&display=swap');


:root {
    --extralight: #f4eeff;
    --light: #dcd6f7;
    /* --lightdark: #a6b1e1; */
    --lightdark: #9b9b9b;
    --lightdark: #9b9b9b;
    /* --dark: #424874; */
    --dark: #030303;
}
*{
    color: white;
}

.flex {
    display: flex;
}

.b {
    border: 2px solid red;
}

section {
    margin-bottom: 20%;
    padding: 0px 10px;
}

body {
    /* background-color: var(--extralight); */
    background-color: black;
    color: white;
    /* background-color: var(--dark); */
    font-family: "Poppins", sans-serif;
    /* font-family: "Bowlby One SC", sans-serif; */
    /* font-family: "WindSong", cursive; */
    /* barCode */
    /* font-family: "Libre Barcode 39 Extended Text", system-ui; */
    /* owsome */
    /* font-family: "Tilt Warp", sans-serif;    */
    /* pera */
    /* font-family: "Belanosima", sans-serif; */
    /* bolder */
    /* font-family: "Climate Crisis", sans-serif; */
}

#logo h1 {
    font-family: "Belanosima", sans-serif;
}

ul li {
    font-family: "Tilt Warp", sans-serif;
}

header {
    /* background-color: var(--extralight); */
    /* width: 100%; */
    /* border: 1px solid rgb(111, 0, 255); */
    margin-bottom: 7%;
    
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
}

header nav #logo {
    /* border: 1px solid red; */
    height: auto;
}

header nav #logo h1 {
    font-size: 1.5rem;
}

header nav #items {
    /* border: 1px solid red; */
    height: auto;
    width: 60%;
}

header nav #items ul {
    justify-content: space-around;
    list-style-type: none;
}

header nav #items ul li {
    list-style-type: none;
}

header nav #items ul li a {
    text-decoration: none;
    text-transform: capitalize;
    /* color: black; */
}

/*  header finel */

section#first {
    height: 70vh;
    /* width: 100%; */
/* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;



}
section#first .text {
    width: 60%;
    height: 100%;

    position: relative;
    letter-spacing: 3px;

    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
 }
 section#first .text h2{
font-weight: 400;
letter-spacing: 7px;
margin-bottom: -80px;
 }
 section#first .text h1{
font-weight: 400;
letter-spacing: 7px;
font-size: 690px;
margin-bottom: -20px;
 }
 section#first .text h2{
font-weight: 400;
letter-spacing: 7px;
margin-bottom: -20px;
 }
 

section#first .social {
    /* background-color: #424874; */
    width: auto;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
section#first .social i{
   font-size: 20px;
}
section#first .imag {
    width: 40%;
    
 }
section#first .intro {
    height: 100%;
    width: 80%;
    /* border: 2px solid purple; */
}

section#first .circul {
    background-color: #9b9b9b;
    width: 100%;

    /* width: auto; */
    height: 70%;

    border-radius: 500px;
}
section#first .circul img{
    width: 100%;
    border-radius: 80px;
}

section#first .scrollDown {
  /* border: 2px solid green; */
  width: 10%;
  height: 100%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

section#first .scrollDown h1{
    letter-spacing: 6px;
    font-size: 1rem;
    transform: rotate(90deg);
}

section#first .images img {

    width: 80%;
    border-radius: 20px;
    opacity: 0.9;

    box-shadow: 15px 15px 0px 2px var(--dark);
    transition-duration: 0.4s;
}

section#first .images img:hover {
    /* width: 70%; */
    margin-left: -20px;
    margin-top: -20px;
    box-shadow: 40px 40px 0px 2px var(--dark);
}

section#first .text h2 {
    font-family: "Belanosima", sans-serif;
    text-transform: capitalize;
}

section#first .text h1 {
    font-size: 2.3rem;
    font-family: "Climate Crisis", sans-serif;
    font-weight: 100;
}

section#first .text h3 {
    font-size: 1.3rem;

    font-weight: 800;
}

/* section first finel */

section#second {
    height: 70vh;
    padding: 20px 20px;
    background-color: var(--dark);
    color: white;

}

section#second .text p {
    padding: 0px 50px;
    font-family: poppins;
}

section#second .text h1 {
    padding: 0px 50px;
    text-transform: capitalize;
    font-size: 1.9rem;
}

/* section second finel */

section#third {
    height: 70vh;
    padding: 20px 20px;
    background-color: var(--dark);
    color: white;
    margin-bottom: 30%;
}

/* section#third .text p{
      padding: 0px 50px;
      font-family: poppins;
    } */
section#third h1 {
    padding: 0px 50px;
    text-transform: capitalize;
    font-size: 2.9rem;
}

section#third #boxes {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    background: var(--lightdark);
    justify-content: space-around;
    align-items: center;

    box-shadow: 7px 20px 10px 2px #0000005b;
}

section#third #boxes .box {
    /* border: 2px solid red; */
    padding: 0px 20px;
    border-radius: 20px;
    background-color: var(--dark);
    color: white;
    width: 30%;
    height: 50%;
    cursor: pointer;
    transition-duration: 0.5s;
    text-align: center;
    /* background: var(--lightdark); */
}

section#third #boxes .box:hover {
    background-color: var(--dark);
    color: white;
}

section#third #boxes .box h1 {
    font-size: 1.6rem;

}

section#third #boxes .box p {
    font-size: 1.2rem;
}

/* section thid finel */

section#four {
    height: 70vh;
    padding: 2px 20px;
    background-color: var(--dark);
    color: white;
    margin-bottom: 15%;
}

section#four h1 {
    font-size: 40px;

    text-transform: capitalize;
}

section#four #images {
    /* border: 2px solid red; */
    width: 100%;
    /* height: auto; */
    /* background: var(--lightdark); */
    justify-content: space-around;
    align-items: center;

    /* box-shadow: 7px 20px 10px 2px #0000005b; */
}

section#four #images .imags {
    /* border: 1px solid red; */
    width: 40%;
    /* background-color: var(--extralight); */

}

section#four #images .imags img {
    width: 100%;

    border-radius: 20px;

    transition-duration: 0.4s;
}

section#four #images .imags img:hover {

    border-radius: 0px;
    opacity: 0.7;
}

section#four #images .box h1 {
    font-size: 1.6rem;

}

section#four .more {
    /* font-size: 1.6rem; */
    text-align: center;
    /* border: 1px solid red; */
}

section#four .more h3 a {
    color: var(--dark);
    text-decoration: none;
    background-color: var(--extralight);
    padding: 5px 30px;
    border-radius: 20px;
}

/* complete four section */

footer {
    text-align: center;
}

footer .find {
    background-color: var(--dark);
    color: white;
    padding: 50px 20px;
    margin-bottom: 30px;
}

footer #foot {
    background-color: var(--dark);
    color: white;
    padding: 10px 20px;

}

footer .find .icons a i{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
footer #foot a {

    color: white;


}